
.GroupStudent{
    height: 100vh;
    width: 100vw;
    background-color: #eff6ee;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .GSwelcome{
        font-size: 25px;
        color: #1d3557;
        span{
            color: #00b4d8;
        }
    }
    button{
        height: 1cm;
        width: 3cm;
        border-radius: 10px;
        border: 1px solid #023047;
        font-size: 16px;
        font-weight: 600;
        color: white;
        background: linear-gradient(90deg,#219ebc,#023047,#219ebc);
        background-size: 500%;
        box-shadow: 1px 1px 5px 5px #8080800b;
        animation: Anim1 3s linear infinite;
    }
    
}
.SCartas{
    display: none;
    color: gray;
    justify-content: center;
    align-items: center;
    background: #caf0f8;
    height: 10cm;
    width: 8cm;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #023047;
    h2{
        color: #023047;
        margin: 0;
        text-align: center;
    }
    p{
        text-align: center;
        font-weight: 500;
    }
}
#SCartas__div{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button{
        height: 0.8cm;
        width: 3cm;
        border-radius: 10px;
        border: 1px solid #00b4d8;
        color: white;
        transition: 300ms;
        background: linear-gradient(90deg,#219ebc,#023047,#219ebc);
        background-size: 500%;
        animation: Anim1 3s linear infinite;
        &:hover{
            height: 0.9cm;
            width: 3.1cm;

        }
    }
}
#Nashla{
    width: 10cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .NalaImg{
        height: 100px;

    }
    h3{
        display: flex;
        text-align: center;
        animation: NalaDialogs 2s;
    }
    .Btnconteiner{
        display: flex;
        gap: 20px;
        button{
            height: 0.8cm;
            width: 3cm;
            border: 1px solid rgba(0, 0, 0, 0.242);
            border-radius: 10px;
            font-size: 14px;
            font-weight: 600;
            background: white;
            color: #484848;
        }
        .BtnNalaContinua{
            background: gray;
            color: white;
        }
    }
    .CoraNala{
        height: 200px;
        animation: Cora1 5s infinite;
    }
}
@keyframes NalaDialogs {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes Cora1 {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
@keyframes Cora2 {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}